.brand-logo { height: 70px; width: auto; }
.login-logo { height: 56px; width: auto; }
.navbar-brand span { font-weight: 600; }
.btn-xs {
  padding: 2px 4px;
  font-size: 0.75rem;
  line-height: 2;
  border-radius: 3px;
}